
*.obj
*.txt
*.tlog
*.db
.vs/Project/v14/.suo
.vs/Project/v15/.suo
.vs/Project/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.log
*.vcxproj
*.user
*.pdb
*.ilk
*.recipe
*.exe
Project.lst
Proj6_marshmeg.asm
Project.lst
Project.lst
